:root {
  --md-default-fg-color:               hsla(0, 0%, 0%, 0.87);
  --md-default-fg-color--light:        hsla(0, 0%, 0%, 0.54);
  --md-default-fg-color--lighter:      hsla(0, 0%, 0%, 0.32);
  --md-default-fg-color--lightest:     hsla(0, 0%, 0%, 0.07);
  --md-default-bg-color:               hsla(0, 0%, 100%, 1);
  --md-default-bg-color--light:        hsla(0, 0%, 100%, 0.7);
  --md-default-bg-color--lighter:      hsla(0, 0%, 100%, 0.3);
  --md-default-bg-color--lightest:     hsla(0, 0%, 100%, 0.12);
  
  --md-primary-fg-color:               #858585b9;
  --md-primary-fg-color--light:        #ff0000;
  --md-primary-fg-color--dark:         #a00000;
  --md-primary-bg-color:               hsla(0, 0%, 100%, 1);
  --md-primary-bg-color--light:        hsla(0, 0%, 100%, 0.7);
  --md-primary-bg-color--dark:        hsla(0, 0%, 23%, 0.7);
  
  --md-accent-fg-color:                #a00000;
  --md-accent-fg-color--transparent:   #a0000090;
  --md-accent-bg-color:                hsla(0, 0%, 100%, 1);
  --md-accent-bg-color--light:         hsla(0, 0%, 100%, 0.7);
  

  --md-code-fg-color:                rgb(31, 67, 186);
  --md-code-bg-color:                hsla(0, 0%, 96%, 1);

  --md-code-hl-color:                hsla(#{hex2hsl($clr-yellow-a200)}, 0.5);
  --md-code-hl-number-color:         hsla(0, 67%, 50%, 1);
  --md-code-hl-special-color:        hsla(340, 83%, 47%, 1);
  --md-code-hl-function-color:       hsla(291, 45%, 50%, 1);
  --md-code-hl-constant-color:       hsla(250, 63%, 60%, 1);
  --md-code-hl-keyword-color:        hsla(219, 54%, 51%, 1);
  --md-code-hl-string-color:         hsla(150, 63%, 30%, 1);
  --md-code-hl-name-color:           var(--md-code-fg-color);
  --md-code-hl-operator-color:       var(--md-default-fg-color--light);
  --md-code-hl-punctuation-color:    var(--md-default-fg-color--light);
  --md-code-hl-comment-color:        var(--md-default-fg-color--light);
  --md-code-hl-generic-color:        var(--md-default-fg-color--light);
  --md-code-hl-variable-color:       var(--md-default-fg-color--light);

  --md-typeset-color:                var(--md-default-fg-color);

  --md-typeset-a-color:              hsla(150, 63%, 30%, 1);

  --md-typeset-mark-color:           hsla(#{hex2hsl($clr-yellow-a200)}, 0.5);

  --md-typeset-del-color:            hsla(6, 90%, 60%, 0.15);
  --md-typeset-ins-color:            hsla(150, 90%, 44%, 0.15);

  --md-typeset-kbd-color:            hsla(0, 0%, 98%, 1);
  --md-typeset-kbd-accent-color:     hsla(0, 100%, 100%, 1);
  --md-typeset-kbd-border-color:     hsla(0, 0%, 72%, 1);

  --md-typeset-table-color:          hsla(0, 0%, 0%, 0.12);

  --md-admonition-fg-color:          var(--md-default-fg-color);
  --md-admonition-bg-color:          var(--md-default-bg-color);

  --md-footer-fg-color:              hsla(0, 0%, 100%, 1);
  --md-footer-fg-color--light:       hsla(0, 0%, 100%, 0.7);
  --md-footer-fg-color--lighter:     hsla(0, 0%, 100%, 0.3);
  --md-footer-bg-color:              hsla(0, 0%, 0%, 0.87);
  --md-footer-bg-color--dark:        hsla(0, 0%, 0%, 0.32);
  --md-icon--external-link: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z" /></svg>');
  --md-admonition-icon--sound: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-soundwave" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8.5 2a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-1 0v-11a.5.5 0 0 1 .5-.5m-2 2a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5m4 0a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5m-6 1.5A.5.5 0 0 1 5 6v4a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m8 0a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m-10 1A.5.5 0 0 1 3 7v2a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5m12 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5"/></svg>');
  --md-admonition-icon--lighting: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-brightness-alt-high" viewBox="0 0 16 16"><path d="M8 3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 3m8 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5m-13.5.5a.5.5 0 0 0 0-1h-2a.5.5 0 0 0 0 1zm11.157-6.157a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m-9.9 2.121a.5.5 0 0 0 .707-.707L3.05 5.343a.5.5 0 1 0-.707.707l1.414 1.414zM8 7a4 4 0 0 0-4 4 .5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5 4 4 0 0 0-4-4m0 1a3 3 0 0 1 2.959 2.5H5.04A3 3 0 0 1 8 8"/></svg>');
  --md-admonition-icon--picture: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M21.75 21.5H2.25A1.75 1.75 0 0 1 .5 19.75V4.25c0-.966.784-1.75 1.75-1.75h19.5c.966 0 1.75.784 1.75 1.75v15.5a1.75 1.75 0 0 1-1.75 1.75ZM2.25 4a.25.25 0 0 0-.25.25v15.5c0 .138.112.25.25.25h3.178L14 10.977a1.749 1.749 0 0 1 2.506-.032L22 16.44V4.25a.25.25 0 0 0-.25-.25ZM22 19.75v-1.19l-6.555-6.554a.248.248 0 0 0-.18-.073.247.247 0 0 0-.178.077L7.497 20H21.75a.25.25 0 0 0 .25-.25ZM10.5 9.25a3.25 3.25 0 1 1-6.5 0 3.25 3.25 0 0 1 6.5 0Zm-1.5 0a1.75 1.75 0 1 0-3.501.001A1.75 1.75 0 0 0 9 9.25Z"></path></svg>');
  --md-admonition-icon--video: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M0 4.75C0 3.784.784 3 1.75 3h20.5c.966 0 1.75.784 1.75 1.75v14.5A1.75 1.75 0 0 1 22.25 21H1.75A1.75 1.75 0 0 1 0 19.25Zm1.75-.25a.25.25 0 0 0-.25.25v14.5c0 .138.112.25.25.25h20.5a.25.25 0 0 0 .25-.25V4.75a.25.25 0 0 0-.25-.25Z"></path><path d="M9 15.584V8.416a.5.5 0 0 1 .77-.42l5.576 3.583a.5.5 0 0 1 0 .842L9.77 16.005a.5.5 0 0 1-.77-.42Z"></path></svg>');
  --md-admonition-icon--interact: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>rotate-3d</title><path d="M7.47,21.5C4.2,19.94 1.86,16.76 1.5,13H0C0.5,19.16 5.66,24 11.95,24L12.61,23.97L8.8,20.16L7.47,21.5M8.36,14.96C8.17,14.96 8,14.93 7.84,14.88C7.68,14.82 7.55,14.75 7.44,14.64C7.33,14.54 7.24,14.42 7.18,14.27C7.12,14.13 7.09,13.97 7.09,13.8H5.79C5.79,14.16 5.86,14.5 6,14.75C6.14,15 6.33,15.25 6.56,15.44C6.8,15.62 7.07,15.76 7.38,15.85C7.68,15.95 8,16 8.34,16C8.71,16 9.06,15.95 9.37,15.85C9.69,15.75 9.97,15.6 10.2,15.41C10.43,15.22 10.62,15 10.75,14.69C10.88,14.4 10.95,14.08 10.95,13.72C10.95,13.53 10.93,13.34 10.88,13.16C10.83,13 10.76,12.81 10.65,12.65C10.55,12.5 10.41,12.35 10.25,12.22C10.08,12.09 9.88,12 9.64,11.91C9.84,11.82 10,11.71 10.16,11.58C10.31,11.45 10.43,11.31 10.53,11.16C10.63,11 10.7,10.86 10.75,10.7C10.8,10.54 10.82,10.38 10.82,10.22C10.82,9.86 10.76,9.54 10.64,9.26C10.5,9 10.35,8.75 10.13,8.57C9.93,8.38 9.66,8.24 9.36,8.14C9.05,8.05 8.71,8 8.34,8C8,8 7.65,8.05 7.34,8.16C7.04,8.27 6.77,8.42 6.55,8.61C6.34,8.8 6.17,9 6.04,9.28C5.92,9.54 5.86,9.82 5.86,10.13H7.16C7.16,9.96 7.19,9.81 7.25,9.68C7.31,9.55 7.39,9.43 7.5,9.34C7.61,9.25 7.73,9.17 7.88,9.12C8.03,9.07 8.18,9.04 8.36,9.04C8.76,9.04 9.06,9.14 9.25,9.35C9.44,9.55 9.54,9.84 9.54,10.21C9.54,10.39 9.5,10.55 9.46,10.7C9.41,10.85 9.32,10.97 9.21,11.07C9.1,11.17 8.96,11.25 8.8,11.31C8.64,11.37 8.44,11.4 8.22,11.4H7.45V12.43H8.22C8.44,12.43 8.64,12.45 8.82,12.5C9,12.55 9.15,12.63 9.27,12.73C9.39,12.84 9.5,12.97 9.56,13.13C9.63,13.29 9.66,13.5 9.66,13.7C9.66,14.11 9.54,14.42 9.31,14.63C9.08,14.86 8.76,14.96 8.36,14.96M16.91,9.04C16.59,8.71 16.21,8.45 15.77,8.27C15.34,8.09 14.85,8 14.31,8H11.95V16H14.25C14.8,16 15.31,15.91 15.76,15.73C16.21,15.55 16.6,15.3 16.92,14.97C17.24,14.64 17.5,14.24 17.66,13.78C17.83,13.31 17.92,12.79 17.92,12.21V11.81C17.92,11.23 17.83,10.71 17.66,10.24C17.5,9.77 17.23,9.37 16.91,9.04M16.5,12.2C16.5,12.62 16.47,13 16.38,13.33C16.28,13.66 16.14,13.95 15.95,14.18C15.76,14.41 15.5,14.59 15.24,14.71C14.95,14.83 14.62,14.89 14.25,14.89H13.34V9.12H14.31C15.03,9.12 15.58,9.35 15.95,9.81C16.33,10.27 16.5,10.93 16.5,11.8M11.95,0L11.29,0.03L15.1,3.84L16.43,2.5C19.7,4.06 22.04,7.23 22.39,11H23.89C23.39,4.84 18.24,0 11.95,0Z"/></svg>');
}
.md-nav__link[href^="http"]::after {
  content: "\0041";
  background-color: currentColor;
  padding-right: 0.6em; 
  margin-right: 0.1em;
  mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-image: var(--md-icon--external-link);
  mask-image: var(--md-icon--external-link);
}

}
.md-typeset .admonition.sound,
.md-typeset details.sound {
  border-color: rgb(200, 200, 200);
}
.md-typeset .sound > .admonition-title,
.md-typeset .sound > summary {
  background-color: rgba(200, 200, 200, 0.5);
}
.md-typeset .sound > .admonition-title::before,
.md-typeset .sound > summary::before {
  animation: sound 4s linear infinite;
  background-color: rgb(255, 0, 0);
  -webkit-mask-image: var(--md-admonition-icon--sound);
          mask-image: var(--md-admonition-icon--sound);
}

}
.md-typeset .admonition.lighting,
.md-typeset details.lighting {
  border-color: rgb(200, 200, 200);
}
.md-typeset .lighting > .admonition-title,
.md-typeset .lighting > summary {
  background-color: rgba(200, 200, 200, 0.5);
}
.md-typeset .lighting > .admonition-title::before,
.md-typeset .lighting > summary::before {
  animation: lighting 5s linear infinite;
  -webkit-mask-image: var(--md-admonition-icon--lighting);
          mask-image: var(--md-admonition-icon--lighting);
}

}
.md-typeset .admonition.picture,
.md-typeset details.picture {
  border-color: rgb(200, 200, 200);
}
.md-typeset .picture > .admonition-title,
.md-typeset .picture > summary {
  background-color: rgba(200, 200, 200, 0.5);
}
.md-typeset .picture > .admonition-title::before,
.md-typeset .picture > summary::before {
  background-color: rgb(255, 0, 0);
  -webkit-mask-image: var(--md-admonition-icon--picture);
          mask-image: var(--md-admonition-icon--picture);
}

}
.md-typeset .admonition.video,
.md-typeset details.video {
  border-color: rgb(200, 200, 200);
}
.md-typeset .video > .admonition-title,
.md-typeset .video > summary {
  background-color: rgba(200, 200, 200, 0.5);
}

.md-typeset .video > .admonition-title::before,
.md-typeset .video > summary::before {
  background-color: rgb(255, 0, 0);
  -webkit-mask-image: var(--md-admonition-icon--video);
          mask-image: var(--md-admonition-icon--video);
}

.md-typeset .admonition.interact,
.md-typeset details.interact {
  border-color: rgb(200, 200, 200);
}
.md-typeset .interact > .admonition-title,
.md-typeset .interact > summary {
  background-color: rgba(200, 200, 200, 0.5);
}
.md-typeset .interact > .admonition-title::before,
.md-typeset .interact > summary::before {
  animation: interact 10s linear infinite;
  background-color: rgb(255, 0, 0);

  -webkit-mask-image: var(--md-admonition-icon--interact);
          mask-image: var(--md-admonition-icon--interact);
}

@keyframes breathe {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.8);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes lighting {
  0% {
    background-color: rgba(255, 255, 255, 0.4);
    transform: scale(1);
  }
  10% {
    background-color: white;
  }
  20% {
    background-color: white;
  }
  30% {
    background-color: white;
  }
  40% {
    background-color: white;
  }
  50% {
    background-color: white;
    transform: scale(1.3);
  }
  60% {
    background-color: white;
  }
  70% {
    background-color: white;
  }
  80% {
    background-color: white;
  }
  90% {
    background-color: white;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.4);
    transform: scale(1);
  }
}

@keyframes sound {
  0% {
    transform: translateX(-.7vh) scaleX(1);
  }
  50% {
    transform: translateX(-.2vh) scaleX(1.5);
  }
  100% {
    transform: translateX(-.7vh) scaleX(1);
  }
}

@keyframes interact {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(-360deg) scale(1.2);
  }
  100% {
    transform: rotate(-720deg) scale(0.8);
  }
}

.p_r {
  color: #FF0000;
  animation: breathe 5000ms infinite;
}

.p_g {
  color: #00FF00;
  animation: breathe 5000ms infinite;
}

.p_y {
  color: #FFFF00;
  animation: breathe 5000ms infinite;
}

.p_b {
  color: #0000FF;
  animation: breathe 5000ms infinite;
}

.p_w {
  color: #FFFFFF;
  animation: breathe 5000ms infinite;
}
